<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/favicon/icon.png" />
    <title>Mallu Mechanic.UK Invoice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <style>
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #12151c;
      }
      .navbar-brand img {
        width: 250px;
      }
      .page-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
      }
      .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
      }
      .btn-custom {
        font-size: 1.2rem;
        padding: 15px 30px;
        margin: 10px;
        width: 300px; /* Ensure all buttons have the same width */
        text-align: center; /* Center the text */
        border-radius: 8px; /* Make the buttons rounded */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        font-weight: 600;
      }
      .btn-custom:hover {
        background-color: #C37957; /* Slightly different color on hover */
        color: white;
      }
    </style>
  </head>
  <body oncontextmenu="return false;">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"
        ><img src="assets/images/Invoice/logo.png" alt="Logo"
      /></a>
      <div class="page-title mx-auto">Welcome to Mallu Mechanic.UK</div>
    </nav>

    <!-- Centered Buttons -->
    <div class="button-container">
      <a href="/Customer-Details" class="btn btn-warning btn-custom">Customer Details Form</a>
      <a href="/Service-Details" class="btn btn-warning btn-custom">Service Details Form</a>
      <a href="/Booking-Confrimation" class="btn btn-warning btn-custom">Booking Invoice Generator</a>
      <a href="/Sold" class="btn btn-warning btn-custom">Sold Out Invoice Generator</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
