<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/images/favicon/icon.png" />
    <title>Login - Invoice Generator</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f8f9fa;
      }
      .login-form {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        background-color: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 5px;
      }
      .logo {
        margin-bottom: 20px;
      }
      .logo img {
        width: 150px; /* Adjust the width as needed */
      }
    </style>
  </head>
  <body oncontextmenu="return false;">
    <div class="login-container">
      <div class="logo">
        <a class="navbar-brand" href="/">
          <img src="assets/images/Invoice/favicon.png" alt="Logo" />
        </a>
      </div>
      <form class="login-form" action="/login" method="POST">
        <h2 class="text-center">Login</h2>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
            placeholder="Enter Username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-warning btn-block">Login</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
